html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

/* Hover */
.tr.tr-hover > .td {
    background-color: #e6f4fc;
}

/* Selection */
.tr-active > [class*="td"] {
    background-color: #fcf8da;
}

/* Expaned */
.expand-icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border: 1px solid #e9e9e9;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background: #fff;
}
.expand-icon.row-expanded:after {
    content: '-';
}
.expand-icon.row-collapsed:after {
    content: '+';
}
.tr-expand {
    border: 1px solid #ddd;
    border-top-width: 0;
    padding: 16px 16px 16px 52px;
}
.tr-expand:last-child {
    border-bottom-width: 0;
}

