@import "table";
@import "table-background";
@import "table-bordered";
@import "table-comfortable";
@import "table-condensed";
@import "table-container";
@import "table-fixed-header";
@import "table-hover";
@import "table-minimalism";
@import "table-no-data";
@import "table-responsive";
@import "table-sortable";
@import "table-striped";
@import "table-toolbar";
@import "loader";
