// sortable effect
.table-sortable {
    > .table-area > .table {
        > .thead > .tr > .th {
            white-space: nowrap;
            padding: 0;

            > .td-content > *:first-child {
                padding: 8px 12px;
            }
        }

        .column-sort {
            color: #222;

            &:hover,
            &:focus {
                color: #222;
                text-decoration: none;
            }

            > .overflow-ellipsis {
                vertical-align: middle;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 16px); // 16px is icon width
            }

            > i {
                vertical-align: middle;
            }
        }

        .column-sort-asc,
        .column-sort-desc {
            vertical-align: top;
            margin-top: 1px;
            display: inline-block;
            width: 16px;
            height: 16px;
        }
        .column-sort-asc {
            background-image: url("./icon-thSortAscending.svg");
        }
        .column-sort-desc {
            background-image: url("./icon-thSortDescending.svg");
        }
    }
}
