.table-comfortable {
    table {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding: 12px 12px;
                }
            }
        }
    }
}
