@import "variables";

// Add borders all around the table and between all the columns.
.table-bordered {
    &.table {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        .thead {
            .tr {
                .td {
                    background-color: #EEEEEE;
                    border: 1px solid $table-border-color;
                    border-width: 0 1px 2px 0;
                    border-bottom-color: $table-header-border-bottom-color;

                    &:first-child {
                        border-left-width: 1px;
                    }
                }
            }
        }

        .tbody {
            .tr {
                .td {
                    border: 1px solid $table-border-color;
                    border-width: 0 1px 1px 0;

                    &:first-child {
                        border-left-width: 1px;
                    }
                }
                &:last-of-type {
                    .td {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
}
