@import "reset-context";
@import "variables";

.table-wrapper {
    reset-context();

    display: inline-block;
    position: relative;
}

.table {
    display: flex;
    flex-direction: column;

    .thead {
        flex: 0 0 auto;
        overflow: hidden;
        .tr {
            display: inline-flex;
            .th {
                padding: $table-cell-padding;
                flex: 1 0 auto;
                color: #777777;
                font-weight: bold;
            }
        }
    }

    .tbody {
        flex: 1 1 auto;
        .tr {
            display: inline-flex;
            .td {
                padding: $table-cell-padding;
                flex: 1 0 auto;
            }
            &:last-child + .tr-expand {
                border-top: 1px solid $table-border-color;
                border-bottom: none;
            }
        }
    }
}

.tr-expand {
    border-bottom: 1px solid $table-border-color;
    white-space: normal;
}
