.table-no-data {
    > .table-area > .table {
        > .tbody > .table-placeholder {
            text-align: center;
            padding: 44px 12px;
            color: #999;
        }
    }
    > .table-area > .loader-overlay {
	    > .loader .loader-large {
	    	margin-top: -28px;
	    }
	    > .loader .loader-small {
	    	margin-top: -48px;
	    }
	}
}

.table-no-data-loader {
    height: 109px;
}
