@import "variables";

//style portal table Minimalism
.table-minimalism {
    &.table-wrapper {
        border: 0;
    }
    .table {
        .thead {
            .tr {
                .th {
                    border-bottom: 2px solid $table-header-border-bottom-color;
                }
            }
        }
        .tbody {
            .tr {
                .td {
                    border-bottom: 1px solid $table-border-color;
                }
            }
        }
    }
}

