@import "variables";

.table {
    // https://www.paulirish.com/2012/box-sizing-border-box-ftw/
    box-sizing: border-box;
    *, *:before, *:after {
        box-sizing: inherit;
    }

    display: flex;
    flex-direction: column;
    line-height: 20px;

    .thead {
        flex: 0 0 auto;
        overflow: hidden;
        .tr {
            display: flex;
            .td {
                padding: $table-cell-padding;
                flex: 1 0 auto;
                color: $table-th-color;
                font-weight: bold;
            }
        }
    }

    .tbody {
        flex: 1 1 auto;
        .tr {
            display: flex;
            .td {
                padding: $table-cell-padding;
                flex: 1 0 auto;
            }
        }
    }
}
