@import "variables";

.scroll-header,
.scroll-footer {
    :global {
        .rc-table-placeholder {
            display: none;
        }
    }
}

.scroll-footer {
    :global {
        .rc-table-body {
            display: none;
        }
        .rc-table-footer :local(.table-toolbar) {
            border-top: 1px solid #ddd;
            border-bottom: none;
        }
    }
}

.scroll-header {
    border-bottom: 2px solid $table-header-border-bottom-color

    :global {
        .rc-table-content {
            overflow: hidden;
        }
    }

    .table {
        table {
            table-layout: fixed;
            width: 100%;

            thead {
                th {
                    border-top: 0;
                    border-bottom: 0;

                    &.th-scroll-bar {
                        border-left: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    + .scroll-body {
        overflow: auto;
        thead {
            border-top: 0;
            border-bottom: 0;

            th {
                border-top: 0;
                border-bottom: 0;
            }
        }

        tbody > tr:first-child > td {
            border-top: 0;
        }

        .loader-overlay {
            top: 0;
        }
    }
}
