// Placed here since it has to come after the potential zebra striping
.table-hover {
    &.table {
        .tbody {
            .tr:hover {
                .td {
                    background-color: $table-bg-hover;
                }
            }
        }
    }
}
