.table-no-data {
    > .table-area > .table {
        > .tbody > .table-placeholder {
            text-align: center;
            padding: 44px 12px;
            color: #999;
        }
    }
    > .table-area > .loader-overlay > .loader {
    	margin-top: -18px;
    }
    height: 148px;
}
