.table {
    :global {
        .rc-table-placeholder {
            text-align: center;
            padding: 26px 12px;
            color: #999;
        }
    }
}

.table-no-data {
    table {
        > tbody > tr {
            td {
              text-align: center;
              padding: 26px 12px;
              color: #999;
            }
        } 
    }
}
